.technology {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-image: url("../../../public/assets/photo/technology-bg\.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 212px;
}
.technologyContainer {
  width: 100%;
  max-width: 1300px;
}
wrapper {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.techInfo {
  display: flex;
  gap: 80px;
  padding-top: 137px;
}
.techTitle {
  margin-bottom: 0;
}

.tabb {
  width: 80px;
  height: 80px;
  border: 1px solid #ffffff76;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}
.text {
  width: 100%;
  max-width: 470px;
}
.tab-active {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 32px;
}
.descriptions {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  color: #d0d6f9;
}
.infoTitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.17em;
  color: #d0d6f9;
  margin-bottom: 10px;
}
.titleText {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 56px;
  color: #fff;
  margin-bottom: 17px;
}
@media (max-width: 1156px) {
  wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .techTitle {
    margin-bottom: 60px;
  }
  .techPhoto {
    width: 100%;
    img {
      width: 100%;
    }
    margin-bottom: 56px;
  }
  .techInfo {
    flex-direction: column;
    padding-top: 0;
    gap: 44px;
    text-align: center;
  }
  .tab {
    display: flex;
    gap: 32px;
    margin: 0 auto;
  }
}
@media (max-width: 556px) {
  .tabb {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .tab {
    margin-bottom: 0;
  }
  .tab-active {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .techPhoto {
    margin-bottom: 34px;
  }
  .techInfo {
    gap: 26px;
  }
  .descriptions {
    font-size: 15px;
  }
  .titleText {
    font-size: 24px;
  }
}
